/* The Masonry Brick */
.element img{
  max-height: 100%;
  max-width: 100%;
  }

  .element img:active{
    max-width: 1080px;
    max-height: 1080px;
    position: absolute;
    margin: auto;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px; /* Half the height */
    margin-left: -250px;
  }

.element {
  border-left: 6px solid #a9a9a9;
  border-radius: 5px;
  padding: 5px;
  background: #e9e9e9;
}
