.App {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  overflow-y: scroll;
}

.header-container {
  width:100%;
  height:20px;
  margin: 0 auto;
  background-color: #E9E9E9;
  padding: 20px;
  color: grey;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}



